<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqxTjDNDhL99ND12LLiUwdXUyyxOJATf8</string>
	<key>GCM_SENDER_ID</key>
	<string>44810574324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.azodhaTask.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>azodhacontactapp</string>
	<key>STORAGE_BUCKET</key>
	<string>azodhacontactapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44810574324:ios:c496a2e6711585658d41a1</string>
</dict>
</plist>